@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
}

.row{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

p{
    line-height: 1.5;
}

button:hover{
    cursor: pointer;
}

.purple {
    color: #6415ff;
}

.white{
    color: white !important;
}

.text__start{
    text-align: start !important;
}

a {
    text-decoration: none;
}

li{
    list-style-type: none;
    padding-left: 16px;
}

.purple--button {
    border-radius: 50px;
    background-color: #6415ff;
    padding: 0.75rem 2rem;
    color: white;
    text-decoration: none;
    border: none;
}

.site__padding{
    padding: 32px;
}

/* NAV */



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    }

.nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 626px;
    width: 60%
}


.nav__link{ 
    font-size: 14px;
    font-weight: bold;
    color: #243E63;
}

.nav__underline:hover{
border-bottom: 2px solid #6415ff;
padding-bottom: 3px;
color: #6415ff;
transition: all 100ms ease;
}


.logo {
    width: 40px;
    margin: 0 12px 0 0;
    max-width: 100%;
}

.nav__logo {
display: flex;
align-items: center;
font-weight: bold;
font-size: 24px;
font-weight: 900;
color: #243E63;
transition: 300ms ease all;
}

.nav__logo:hover{
    cursor: pointer;
    color: #5011cc;
}

.nav__link--login{
    margin-left: 48px;
}

.nav__link--primary {
    background-color: #6415ff;
    border-radius: 9999px;
    color: #fff;
    padding: 12px 32px;
    transition-duration: 300ms;
  }
  
  .nav__link--primary:hover {
    color: #fff;
    text-decoration: none;
    background-color: #5011cc;
  }
  
  .login {
    margin-left: 24px;
  }
  

/* Button Start */

.btn__menu {
    background-color: transparent;
    border: none;
    font-size: 20px;
    text-align: center;
    color: #243e63;
  }
  
  .btn__burger {
    display: none;
  }
  
  .btn__menu:hover {
    color: #6415ff;
    cursor: pointer;
  }
  
  .menu__backdrop {
    z-index: 10;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    transform: translateX(400%);
    transition: all 700ms cubic-bezier(0.79, -0.19, 0.3, 1.47);
  }
  
  .menu--open .menu__backdrop {
    visibility: visible;
    transform: translateX(0);
  }
  
  .btn__menu--close {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  .menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .menu__link {
    font-size: 18px;
    color: #1a202c;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
  }
  
  .menu__link--btn {
    background-color: #6415ff;
    border-radius: 9999px;
    color: #fff;
    padding: 12px 32px;
    transition-duration: 300ms;
  }
  
  .menu__link--btn:hover {
    color: #fff;
    text-decoration: none;
    background-color: #5011cc;
  }
  
  .menu__list:last-child {
    margin: 9px 0;
  }
  
  .menu__list {
    margin: 9px 0;
    padding-bottom: 4px;
  }
  
  /* Button Finish */
   


/* LANDING */



.header__container{
    padding-top: 96px;
    padding-bottom: 96px;
    width: 100%;
    max-width: 1280px;
    display: flex;
    align-items: center;
}

.header__description {
    width: 60%;
    max-width: 533.33px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__description--title{
    font-size: 48px;
}

.header__description--para{
    font-size: 18px;
    margin: 32px 0;
}

 .customer--logos{
width: 66%;
padding-top: 12px;
}

.landing__img {
    width: 100%
}

.landing__img--wrapping{
    width: 60%;
    height: 100%;
}

.header__form{
    max-width: 448px;
    width: 100%;
    margin-bottom: 20px;
}

input {
   width: 100%;
   padding: 20px 192px 20px 32px;
   border: gray 2px solid;
   border-radius: 9999px;
   opacity: 0.5;
   box-shadow: none;
}

::placeholder {
    color: gray;
    font-weight: 500;
    font-size: 16px;
}

.landing__button{
    font-size: 16px;
    white-space: nowrap;
    text-align: center;
    margin: 16px 0px;  
    position: absolute;
    right: 0;
    margin: 8px 8px 8px 0px;
    border: none;
}

.landing__button:hover{
    color: #fff;
    text-decoration: none;
    background-color: #5011cc;
}

.email{
    width: 100%;
    position: relative;
}

.header__customer--logos{
margin: 80px 0 0;
font-size: 12px;
color: #a0ace0;
font-weight: 700;
}

.customer--logos{
    margin: 16px 0px 0px;
    padding: 0px 128px 0px 0px;
    max-width: 533.33px;
    width: 100%;
    opacity: 0.5;
}

/* FEATURES */


.features__container{
    padding-top: 96px;
    padding-bottom: 96px;
}

.features__description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small-title{
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6415ff;
    margin-bottom: 16px;
    font-size: 16px;
}

.title{
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.025em;
}

.description--para{
    margin-top: 16px;
    max-width: 576px;
    font-weight: 500;
    line-height: 1.5;
    color: rgb(124 139 161);
    text-align: center;
    font-size: 18px;
}

.features__list{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feature{
    margin-left: 1rem;
    margin-right: 1rem;
    height: 100%;
    width: 100%;
    max-width: 310px;
    padding: 2rem 0.5rem;
    display: flex;
}

.feature__text{
display: flex;
flex-direction: column;
margin: 8px 0px 0px 16px;
}

.feature__icon {
    padding: 20px;
    font-size: 24px;
    color: #6415ff;
    border: solid 1px ;
    border-color: rgb(226, 232, 240);
    border-radius: 50px;
    height: 100%;
}

.feature__title{
    padding-bottom: 16px;
    color: #243E63;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.025em;
}

.feature__synopsis{
    color: #7C8BA1;
    font-weight: 500;
    line-height: 2;
}

/*WORK*/

.work__container{
    margin: 0px 19px;
    padding: 96px 0px;
   
    max-width: 1280px;
    display: flex;
}

.work__container--description{
    padding: 32px 0px;
    max-width: 576px;
    width: 100%;
    margin-right: 30px;
}

.work__title{
    margin-top: 16px;
}

.work__para{
    margin-top: 16px;
    text-align: start;
}

.work--button{
    margin-top: 32px;
}

.work--button:hover{
    color: #fff;
    text-decoration: none;
    background-color: #5011cc;
}

.work__container--img{
    border: 1px solid gray;
    max-height: 413px;
    height: 100%;
    width: 100%;
    max-width: 640px;
    align-self: center;
}

.work__img{
    width: 100%;
    max-width: 640px;
}

/* STEPS */

.steps__container{
    display: flex;
    width: 100%;
    padding-top: 96px;
    margin-bottom: 100px;
    align-items: center; 
}


.steps__img{
    width: 100%;
    max-width: 640px;
}

.steps__img--container{
    padding-right: 16px;
}

.steps__container--description{
 margin: 0 auto;
 width: 100%;
 max-width: 415px;
}

.steps__title{
    color: #243E63;
    max-width: 415px;
    width: 100%;
}


.steps__list{
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    width: 100%;
    max-width: 576px;
    
}

.step{
    padding: 0;
    margin-bottom: 36px;
    width: 100%;
    max-width: 320px;
    
}


.step__description{
    margin-top: 12px;
    font-size: 14px;
    color: #718096;
}

.step__subtitle{
    font-size: 20px;
    color: #243E63;
}

.step__description{
    color: #718096;
}


/*VALUES*/

.values__container{
    padding-top: 96px;
    padding-bottom: 96px;
    max-width: 1280px;
    width: 100%;
    display: flex;
}

.values__container--description{
    width: 100%;
    max-width: 576px;
}

.values__title{
    margin-bottom: 32px;
}

.values__description--para{
    padding-bottom: 36px;
    color: #7c8ba1;
    font-size: 16px;
    line-height: 24px;
}

.values__list{
    display: flex;
}

.value{
width: 100%;
margin: 32px 32px 0px 0px;
padding: 0px;
max-width: 288px;
}

.value__icon{
    padding-bottom: 12px;
    display: flex;
}

.value__subtitle{
    margin-left: 12px;
    color: #243E63;
    max-width: 105px;
    font-size: 20px;
    align-self: center;
}

.value__description{
    color: #7c8ba1;
}

.value__icon--wrapper{
    padding: 20px;
    border: solid 1px ;
    border-color: rgb(226, 232, 240);
    border-radius: 9999px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9ae6b4; 
}


.fa-dollar-sign{
    color: green;
    background-color: #9ae6b4;    
}

.fa-briefcase{
    color: #9b2c2c;
    background-color: #feb2b2;
}

.fa-briefcase__bg{
    background-color: #feb2b2;
}

.values__img--wrapper{
    width: 100%;
    max-width: 640px;
    display: flex;
}

.values__img{
    width: 100%;
    
}

.values__button{
    margin-top: 48px;
}

.values__button:hover{
    color: #fff;
    text-decoration: none;
    background-color: #5011cc;
}

/*PRICING*/


.pricing__container{
    padding-top: 96px;
    padding-bottom: 96px;
    width: 100%;
}

.pricing__container--description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing__list--container{
    display: flex;
    justify-content: space-around;
    max-width: 1280px;
    width: 100%;
}

.pricing__item{
    margin: 64px 0px 0px 0px;
    width: calc(100%/3.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px gray solid;
    border-radius: 5px;
}

.pricing__title{
    padding: 32px 0px;
    line-height: 1.625;
}
   
.pricing__title--small{
    color: #1A202C;
    font: 20px;
    font-weight: 700;
}

.pricing__title--price{
    color: #1A202C;
    font-size: 48px;
    margin: 4px 0px;
    font-weight: 900;
}

.price__title--period{
    color: #A0AEC0;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.pricing__item--container{
    padding: 32px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 100%;
}

.item__feature{
    margin: 20px 0px 0px;
    color: #718096;
    font-size: 16px;
}

.item__feature--title{
    color: #1A202C;
    font-size: 20px;
}

.pricing__item--button{
    padding: 32px 16px;
    max-width: 320px;
}

.pricing--button{
    border-radius: 9999px;
    background-color: white;
    color: white;
    text-decoration: none;
    border: none;
    padding: 12px 32px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: bold;
}  

.business{
    background-color: #6415ff;
}

.enterprise--button{
    background-color: red;
    transition: 300ms ease all;
}

.enterprise--button:hover{
    transform: translateY(-2px) translateX(2px);
    box-shadow: 0px 2px 10px 0px #1A202C;
}

.personal--button{
    background-color: rgb(17, 145, 204);
    transition: 300ms ease all;
}

.personal--button:hover{
    transform: translateY(-2px) translateX(2px);
    box-shadow: 0px 2px 10px 0px #1A202C;
} 

.business--button{
    color: #6415ff;
    transition: 300ms ease all;
}

.business--button:hover{
    transform: translateY(-2px) translateX(2px);
    box-shadow: 0px 2px 10px 0px #1A202C;
}

.item__top--color{
    width: 100%;
    height: 10px;
    background-color: rgb(17, 145, 204);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.top--red{
    background-color: red;
}

/*TESTIMONIALS*/

.testimonials__container{
    padding-top: 96px;
    padding-bottom: 96px;
    width: 100%;
    max-width: 1280px;
    display: flex;
}

.testimonials__container--description{
    padding-left: 64px;
    max-width: 640px;
}

.testimonials__img{
    max-width: 640px;
    width: 100%;
}

.testimonials__img--wrapper{
    max-width: 640px;
    width: 100%;
    align-self: center;
}

.testimonials__description--secondary{
    padding-top: 32px;
}

.fa-star{
    color: gold;
}

.testimonials__subtitle{
    font-size: 20px;
    color: #243E63;
    margin: 16px 0px 0px;
}

.user__img{
    width: 80px;
    border-radius: 50px;
}

.testimonials__extra-margin{
    font-size: 16px;
    color: #4a5568;
    margin-bottom: 40px;
}

.testimonials__user--info{
    display: flex;
    align-items: center;
}

.user--name{
color: #243E63;
font-size: 20px;
padding-left: 16px;
}

.testimonials__name--description{
    color: #7C8BA1;
    font-size: 16px;
    padding-left: 16px;
}

/*BOTTOM*/

.bottom__container{
    padding: 96px 0px;
    max-width: 1280px;
    width: 100%;
}

.bottom__container--box{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: #6415ff;
    height: 100%;
    width: 100%;
    padding-top: 96px;
    padding-bottom: 96px;
    border-radius: 8px;
}

.bottom__buttons{
    display: flex;
    align-items: center;
}

.starting--button{
    background-color: red;
    margin-right: 32px;
    padding: 20px 40px;
    transition: all 300ms ease;
}

.starting--button:hover{
    background-color: #9b2c2c;
}

.contact--button{
    background-color: inherit;
    border: 1px solid;
    padding: 20px 40px;
    transition: 300ms ease all;
}

.contact--button:hover{
    background-color: white;
    color: #6415ff;
}

.bottom__title{
    font-size: 30px;
    color: #f7fafc;
    max-width: 480px;
}

/*FOOTER*/

.footer__row{
    background-color: #6415ff;
}

.footer__container{
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #6415ff;
    padding-left: 32px;
    padding-right: 32px;
}

.footer__lists{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

.footer__list--title{
    color: #f7fafc;
    font-size: 16px;
}

.footer__list{
    padding-top: 16px;
}

.footer__list--item{
    padding-left: 0px;
    color: #f7fafc;
    font-size: 14px;
    padding-top: 16px;
}

.footer__item--link{
    color: white;
}

.footer__item--link:hover{
border-bottom: 2px solid white;
padding-bottom: 3px;

transition: all 100ms ease;
}

.footer__copyright{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding-top: 64px;
}

.footer__logo--wrapper{
display: flex;
align-items: center;
font-weight: bold;
font-size: 24px;
font-weight: 900;
color: #f7fafc;
}

.footer__copyright--text{
    color: #CBD5E0;
    font-size:16px;
}

.footer__social--list{
    display: flex;
}

.footer__social--icon{
    padding: 8px;
    border: none 1px;
    border-radius: 28px;
    background-color: #CBD5E0;
    margin-left: 8px;
}

.footer__social--icon:hover{
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px;
    transform: translate(1px, -1px);
    transition: 100ms all ease;
}

.fa-brands{
    border: none 1px;
    border-radius: 28px;
    background-color: #CBD5E0;
}

.fa-facebook-f{
    padding-left: 4px;
    padding-right: 4px;
}
.footer__border{
    padding-top: 32px;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    border-bottom: 1px solid;
    border-color: #A0AEC0;
    opacity: 0.4;
}

/* SMALL TABLETS AND PHONES */

@media (max-width: 1024px) {

    .description--para{
        font-size: 16px;
    }


    /*NAV*/

    .nav__links{
        display: none;
    }

    .btn__burger{
        display: block;
    }

    /*LANDING*/

    .header__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .header__description--title{
        font-size: 30px;
        text-align: center;
    }

    .header__description--para{
        font-size: 16px;
        text-align: center;
    }

    .header__description{
        display: flex;
        align-items: center;
    }

    .header__customer--logos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .customer--logos{
        padding: 0;
    }

    .landing__img--wrapping{
        padding-top: 48px;
    }

    /* FEATURES */

    .title{
        font-size: 36px;
        text-align: center;
    }


    /* WORK */

    .work__title{
        font-size: 36px;
        text-align: start;
    }

    .work__para{
        font-size: 16px;
    }

   /* STEPS */

   .steps__title{
    font-size: 36px;
    text-align: start;
   }

   /*VALUES*/

   .values__list{
    flex-wrap: wrap;
   }

   .values__title{
    font-size: 36px;
    text-align: start;
   }

   .values__description--para{
    font-size: 16px;
   }

   /*PRICING*/

   .pricing__list--container{
    display: block;
    margin: 0 auto;
   }

   .pricing__item{
    max-width: 384px;
    width: 100%;
    margin: 64px auto;
   }

   /*TESTIMONIALS*/

   .testimonials__title{
    font-size: 36px;
    text-align: start;
   }

   .testimonials__img{
    max-width: 375px;
   }

   .testimonials__img--wrapper{
    max-width: 375px;
   }

   /*BOTTOM*/

   .bottom__container--box{
    flex-direction: column;
    align-items: center;
    justify-content: none;
   }

   .bottom__title{
    padding-bottom: 24px;
    text-align: center;
   }
}

/*SMARTPHONES*/

@media (max-width: 768px){

/*HEADER*/

.header__container{
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}

.header__description{
    width: 100%;
}

.landing__img--wrapping{
    width: 100%;
}

.landing__button{
    top: 65px;
    left: 1px;
    max-width: 448px;
    width: 100%;
    max-height: 56px;
    height: 100%;
}

.header__customer--logos{
    font-size: 14px;
}

/*FEATURES*/

.features__container{
    padding-top: 80px;
    padding-bottom: 80px;
}

.feature{
    flex-direction: column;
    align-items: center;
}

.feature__text{
    padding-top: 8px;
    padding-right: 16px;
    text-align: center;
}

/*WORK*/

.work__container{
    padding-top: 80px;
    padding-bottom: 80px;
    flex-direction: column-reverse;
}

.work__container--img{
    max-width: 448px;
}

.work__container--description{
    text-align: center;
    padding-top: 64px;
}

.work__title{
    font-size: 30px;
    text-align: center;
    margin: 0px;
}

.work__para{
    text-align: center;
    font-size: 14px;
}

/*STEPS*/

.steps__container{
    flex-direction: column;
}

.steps__img--container{
    max-width: 448px;
}

.steps__title{
    text-align: center;
    font-size: 30px;
}

.steps__container--description{
    padding-top: 45px;
    text-align: center;
}

.step{
    align-self: center;
}

/*VALUES*/

.values__container{
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.values__img--wrapper{
    max-width: 448px;
}

.values__container--description{
    padding-top: 45px;
    text-align: center;
}

.values__title{
    text-align: center;
    font-size: 30px;
    line-height: 1.25;
}

.values__list{
    justify-content: center;
    padding-left: 24px;
}

.value__icon{
    justify-content: center;
}

.professional__icon{
    padding-right: 60px;
}

/*PRICING*/

.pricing__container{
    padding-top: 80px;
    padding-bottom: 80px;
}

/*TESTIMONIALS*/

.testimonials__container{
    flex-direction: column;
    padding-bottom: 80px;
    padding-top: 80px;
}

.testimonials__img--wrapper{
    max-width: 448px;
    width: 100%;
}

.testimonials__img{
    max-width: 448px;
}

.testimonials__container--description{
    padding-top: 45px;
    text-align: center;
}

.testimonials__title{
    font-size: 30px;
    text-align: center;
}

.description--para{
    text-align: center !important;
    font-size: 14px;
}

.testimonials__extra-margin{
    font-size: 16px;
}

.testimonials__user--info{
    justify-content: center;
    flex-direction: column;
}

.user--name{
    padding: 0;
}

.testimonials__name--description{
    padding: 0;
}

/*BOTTOM*/

.bottom__container{
    padding-bottom: 80px;
    padding-top: 80px;
}

.bottom__title{
    font-size: 24px;
}

.bottom__buttons{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.starting--button{
    margin:8px 0 16px 0;
}

/*FOOTER*/

.footer__copyright{
    flex-direction: column;
    justify-content: space-between;
}

.footer__copyright--text{
    margin: 32px 0 32px 0;
}

.footer__social--icon{
    margin-left: 16px;
}

}