@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



p{
    line-height: 1.5;
}

.purple {
    color: #6415ff;
}


a {
    text-decoration: none;
    color: #243E63;
}

a:hover {
    text-decoration: underline;
    color: #6415ff;
}


.white{
    color: white;
}

li{
    list-style-type: none;
    padding-left: 16px;
}

.purple--button {
    border-radius: 50px;
    background-color: #6415ff;
    padding: 0.75rem 2rem;
    color: white;
    text-decoration: none;
}

/* NAV */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    padding-top: 32px;
    margin: 0 auto;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 626px;
    width: 60%
}


.nav__link{ 
    font-size: 14px;
    font-weight: 600;
}

.logo {
    width: 40px;
    margin: 0 12px 0 0;
    max-width: 100%;
}

.nav__logo {
display: flex;
align-items: center;
font-weight: bold;
font-size: 24px;
font-weight: 900;
color: #243E63;
}

.nav__link--login{
    padding-left: 48px;
}


/* LANDING */

.row{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.header__container{
    padding-top: 96px;
    padding-bottom: 96px;
    width: 100%;
    max-width: 1280px;
    display: flex;
    align-items: center;
}

.header__description {
    width: 60%;
    max-width: 533.33px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__description--title{
    font-size: 48px;
}

.header__description--para{
    font-size: 18px;
    margin: 32px 0;
}

 .customer--logos{
width: 66%;
padding-top: 12px;
}

.landing__img {
    width: 100%
}

.landing__img--wrapping{
    width: 60%;
    height: 100%;
}

.header__form{
    max-width: 448px;
    width: 100%;
    margin-bottom: 20px;
}

input {
   width: 100%;
   padding: 20px 192px 20px 32px;
   border: gray 2px solid;
   border-radius: 9999px;
   opacity: 0.5;
}

.landing__button{
    font-size: 16px;
    white-space: nowrap;
    text-align: center;
    margin: 16px 0px;  
    position: absolute;
    right: 0;
    margin: 8px 8px 8px 0px;
}

.email{
    width: 100%;
    position: relative;
}

.header__customer--logos{
margin: 80px 0 0;
font-size: 12px;
color: #a0ace0;
font-weight: 700;
}

.customer--logos{
    margin: 16px 0px 0px;
    padding: 0px 128px 0px 0px;
    max-width: 533.33px;
    width: 100%;
    opacity: 0.5;
}

/* FEATURES */


.features__container{
    padding-top: 96px;
    padding-bottom: 96px;
}

.features__description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__small-title{
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6415ff;
    margin-bottom: 16px;
    font-size: 16px;
}

.features__title{
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.025em;
}

.features__description--para{
    margin-top: 16px;
    max-width: 576px;
    font-weight: 500;
    line-height: 1.5;
    color: rgb(124 139 161);
    text-align: center;
    font-size: 18px;
}

.features__list{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feature{
    margin-left: 1rem;
    margin-right: 1rem;
    height: 100%;
    width: 100%;
    max-width: 310px;
    padding: 2rem 0.5rem;
    display: flex;
}

.feature__text{
display: flex;
flex-direction: column;
margin: 8px 0 0 16px;
}

.fa-solid {
    padding: 20px;
    height: 24px;
    max-width: 24px;
    width: 100%;
    color: #6415ff;
}